html,
body {
    margin-top: 20px;
    /* Adjust based on the height of your (AppBar) because of position sticky */

}

.no-scroll {
    overflow: hidden;
    /* Disable/Enable scrolling (AppBar Menu)*/
}

.map-container {
    position: relative;
    z-index: 1; /* Ensure it's above other elements */
}




